<div style="margin-top: -16px; padding-bottom: 16px">
  <h3><a href="#filters" data-toggle="collapse">Show Filters</a></h3>
  <div id="filters" class="collapse">
    <%= form_tag "/listings", method: "get" do %>
      <%= label_tag :min_bed_count  %>
      <%= number_field_tag :min_bed_count %>
      <hr>
      <h5>Room types:</h5>
      <div class="checkboxradio">
        <% Listing.room_types.each do |x| %>
          <%= check_box_tag("room_types[#{x[1]}]") %>
          <%= label_tag("room_types[#{x[1]}]", x[0].humanize) %>
        <% end %>
      </div>
      <hr>
      <h5>Amenities:</h5>
      <div class="checkboxradio">
        <% amenities_array.each do |x| %>
          <%= label_tag("amenities[#{x}]", x.to_s.humanize) %>
          <%= check_box_tag("amenities[#{x}]") %>
        <% end %>
      </div>
      <hr>
      <%= label_tag :search %>
      <%= text_field_tag :search %>

      <%= label_tag :tags %>
      <%= text_field_tag :tags %>
      <hr>
      <h5>Date range</h5>
      <%= label_tag :check_in %>
      <%= date_field_tag :check_in, nil, type: 'date', id: 'check_in', class: 'filter-datepicker' %>
      <%= label_tag :check_out %>
      <%= date_field_tag :check_out, nil, type: 'date', id: 'check_out', class: 'filter-datepicker' %>
      <%= submit_tag "filter!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<% @listings.page(@query_params[:page]).each do |x| %>
  <div class="listing col-sm-6 col-lg-4">
    <%= render partial: "/listings/carousel", locals: { carousel_id: "listing-carousel-#{x.id}", listing: x } %>
    <h4 style="
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
    "><%= link_to "$#{x.price} #{x.name}", controller: "listings", action: "show", id: x.id %></h4>
    <div><%= "#{x.room_type.humanize} | #{x.bed_count} beds" %></div>
  </div>
<% end %>
<div class="col-xs-12">
  <%= link_to "Previous", controller: "listings", action: "index", page: @query_params[:page].to_i - 1 unless @listings.page(@query_params[:page]).first_page? %>
  <%= link_to "Next", controller: "listings", action: "index", page: @query_params[:page].to_i + 1 unless @listings.page(@query_params[:page]).last_page? %>
</div>
