<% query_params = request.query_parameters %>
<% query_params[:page] ||= 1 %>
<% listings = Listing.order(created_at: :desc) %>
<% listings.page(query_params[:page]).each do |x| %>
  <div class="listing col-sm-6 col-lg-4">
    <%= render partial: "/listings/carousel", locals: { carousel_id: "listing-carousel-#{x.id}", listing: x } %>
    <h4 style="
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
    "><%= link_to "$#{x.price} #{x.name}", controller: "listings", action: "show", id: x.id %></h4>
    <div><%= "#{x.room_type.humanize} | #{x.bed_count} beds" %></div>
  </div>
<% end %>
<div class="col-xs-12">
  <%= link_to "Previous", controller: "listings", action: "index", page: query_params[:page].to_i - 1 unless listings.page(query_params[:page]).first_page? %>
  <%= link_to "Next", controller: "listings", action: "index", page: query_params[:page].to_i + 1 unless listings.page(query_params[:page]).last_page? %>
</div>
