 <% content_for :body do %>
   <body data-no-turbolink="true">
 <% end %>

<%# data-attributes to be used in listing.js %>
<%= raw "<div id='data-attributes' data-taken-dates='#{raw @taken_dates}' data-listing-price='#{raw @listing.price}'></div>" %>

<div id="total-price"></div>
<%= form_for ([@listing, @booking]) do |f| %>
  <div style="display: inline-block">
    <div class="text-field row">
      <div class="col-sm-6">
        <%= f.label :check_in %>
      </div>
      <div class="col-sm-6">
        <%= f.date_field :check_in, type: 'date', id: 'check_in', class: 'booking-datepicker' %>
      </div>
    </div>

    <div class="text-field row">
      <div class="col-sm-6">
        <%= f.label :check_out %>
      </div>
      <div class="col-sm-6">
        <%= f.date_field :check_out, type: 'date', id: 'check_out', class: 'booking-datepicker' %>
      </div>
    </div>

    <div class="submit-field">
      <%= f.submit %>
    </div>
  </div>
<% end %>
<%= link_to "Make Payment", braintree_new_path %>
