<% @taken_dates = [] %>
<% Listing.find(@listing.id).bookings.each do |x| %>
  <% x.check_in.upto(x.check_out) do |x| %>
    <% @taken_dates << x.to_s %>
  <% end %>
<% end %>
<script type="text/javascript">
  $(document).ready(function() {
    var current_date = new Date;
    // convert array of taken dates above to JS
    var takenDates = <%= raw @taken_dates %>;
    var listingPrice = <%= raw @listing.price %>;

    var checkInDate = function() {
      return $("#check_in").datepicker("getDate");
    }
    var checkOutDate = function() {
      return $("#check_out").datepicker("getDate");
    }

    console.log(listingPrice);

    $(".datepicker").datepicker({
      dateFormat: "yy-mm-dd",
      beforeShowDay: function(date) {
        var string = $.datepicker.formatDate('yy-mm-dd', date);
        //disable past dates
        if(date < current_date) return [false];
        //disable taken booking dates
        return [takenDates.indexOf(string) === -1];
      }
    }).on("change", function() {
      // display pricing of date range
      var date_difference = (checkOutDate() - checkInDate()) / (1000 * 3600 * 24);
      if (checkInDate() === null || checkOutDate() === null) return;
      $("#total-price").html("$" + listingPrice * date_difference);
    });

    //ensure that check in is before check out
    $("#check_in").on("change", function() {
      $("#check_out").datepicker("option", "minDate", checkInDate());
    });
    $("#check_out").on("change", function() {
      $("#check_in").datepicker("option", "maxDate", checkOutDate());
    });

  });
</script>
<div id="total-price"></div>
<%= form_for ([@listing, @booking]) do |f| %>
  <div style="display: inline-block">
    <div class="text-field row">
      <div class="col-sm-6">
        <%= f.label :check_in %>
      </div>
      <div class="col-sm-6">
        <%= f.date_field :check_in, type: 'date', id: 'check_in', class: 'datepicker' %>
      </div>
    </div>

    <div class="text-field row">
      <div class="col-sm-6">
        <%= f.label :check_out %>
      </div>
      <div class="col-sm-6">
        <%= f.date_field :check_out, type: 'date', id: 'check_out', class: 'datepicker' %>
      </div>
    </div>

    <div class="submit-field">
      <%= f.submit %>
    </div>
  </div>
<% end %>
